Repository Kywal/my-way, pull requests merged in 2025-05, with the labels that each got.

#49 fix(frontend): envia dados no login via headers
  frontend/my-way/app/(public)/login/page.tsx
  frontend/my-way/auth.config.ts
Labels: fix, front-end

#48 feat: add new methods and endpoints for goal and roadmap
  backend/my-way/src/main/java/br/ufrn/myway/Controller/GoalController.java
  backend/my-way/src/main/java/br/ufrn/myway/Controller/RoadmapController/RoadmapController.java
  backend/my-way/src/main/java/br/ufrn/myway/Model/DTO/GoalPositionDTO.java
  backend/my-way/src/main/java/br/ufrn/myway/Repository/RoadmapRepository.java
  backend/my-way/src/main/java/br/ufrn/myway/Service/GoalService.java
  backend/my-way/src/main/java/br/ufrn/myway/Service/RoadmapService/RoadmapService.java
Labels: back-end

#52 Fix: Null id when ai generates subentity
  backend/my-way/src/main/java/br/ufrn/myway/Controller/RoadmapController/AiRoadmapController.java
  backend/my-way/src/main/java/br/ufrn/myway/Model/Mapper/RoadmapMapper.java
  backend/my-way/src/main/java/br/ufrn/myway/Service/RoadmapService/AiRoadmapService.java
  backend/my-way/src/main/java/br/ufrn/myway/Service/RoadmapService/RoadmapService.java
Labels: fix, back-end

#57 Feat: generate goal with ai
  backend/my-way/src/main/java/br/ufrn/myway/Controller/GoalController/AiGoalController.java
  backend/my-way/src/main/java/br/ufrn/myway/Controller/GoalController/GoalController.java
  backend/my-way/src/main/java/br/ufrn/myway/Model/Entities/Goal.java
  backend/my-way/src/main/java/br/ufrn/myway/Model/Entities/Roadmap.java
  backend/my-way/src/main/java/br/ufrn/myway/Model/Entities/StudyTopic.java
  backend/my-way/src/main/java/br/ufrn/myway/Model/Mapper/GoalMapper.java
  backend/my-way/src/main/java/br/ufrn/myway/Service/GoalService/AiGoalService.java
  backend/my-way/src/main/java/br/ufrn/myway/Service/GoalService/GoalService.java
  backend/my-way/src/main/java/br/ufrn/myway/Service/RoadmapService/AiRoadmapService.java
  backend/my-way/src/main/java/br/ufrn/myway/Service/StudyTopicService.java
Labels: feat, back-end
